.card-button {
    background-color: #272625;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #0d6c97;
}
